.btn {
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding-btn);
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
  transition: all .1s linear;
  &--primary {
    background-color: var(--color-secondary);
    border: 0;
    color: var(--color-white);
    &:hover {
      filter: var(--filter);
    }
  }
  &--checkout {
    background-color: var(--color-checkout);
    border: 0;
    color: var(--color-white);
  }
  &--secondary {
    background-color: transparent;
    border: var(--border) var(--color-black);
    color: var(--color-black);
    &:hover {
      opacity: 0.5;
    }
  }
}

.backButton{
  padding: 5px;
  background-color: var(--color-secondary);
  border-radius: 10px;
  width: 100px;
  text-align: center;
  display: block;
  h3{
    font-size: 12px;
  }
}


@media all and (min-width: 800px){
  .btn{
    width: 300px;
  }
}