.errorPageHolder{
    text-align: center;
    padding-top: 10vh;
        .errorPageLogo{
            width: 15%;
        }
        h3{
            font-size: 40px;
        }
        p{
            font-size: 25px;
        }
}