@import "../../sass/partials/abstracts/mixins";

.cart{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.Items{
    margin-top: 40px;
    & .cartItem{
        &--holder{
            border: var(--border);
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: row;
            margin-bottom: 1em;
            padding: .5em;
            gap: 1em;
        }

        &--img{
            max-height: 100px;
            width: 100px;
            & img{
                max-height: 90px;
                max-width: 90px;
                filter: var(--filter-shadow);
            }
        }
        
        &--text{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: left;
            & .remove{
                font-size: 10px;
                width: max-content;
                margin: 0;
            }
        }
        &--name{
            margin: 0;
        }
        &--price{
            color: #00FF19;
            margin: 0;
        }
        &--remove{
            text-decoration: underline;
            border: none;
            background: transparent;
            color: var(--color-white);
            cursor: pointer;
            text-decoration-color: var(--color-secondary);
            text-underline-offset: 0.2rem;
            text-decoration-thickness: 0.2rem;
            width: max-content;
        }

        }
}


.cartItemHolder{
    grid-area: "itemPic";
    
}

.cartAmount{
    display: flex;
    flex-direction: row;
    grid-area: "cartAmount";
    max-height: 40px;
    margin-top: 40%;

        @include respond(desktop){
            margin-top: 60%;
        }
        @include respond(desktop--large){
            margin-top: 100%;
            margin-left: 20%;
        }
    .cartAmountNumber{
        border: 1px solid var(--color-white);
        // padding: 3px 7px;
        margin: 0 10px ;
        width: 40px;
        text-align: center;
        

    }
    .buttonAdd{
        border-radius: 200px;
        padding: 5px 10px;
        border: 4px var(--color-white) solid;
        background-color: transparent;
        color: var(--color-white);
        font-size: 20px;
        font-weight: 600;

    }
    .buttonSubtract{
        background-color: transparent;
        border: none;
        color: var(--color-white);
        font-size: 20px;
        font-weight: 600;
    }
}
// }

