// variables
@import "sass/partials/abstracts/mixins";
@import "sass/partials/abstracts/variables";

// base styles
@import "sass/partials/base/base";
@import "sass/partials/base/typography";

// components
@import "sass/partials/components/buttons";
// @import "sass/partials/components/crew";
@import "sass/partials/components/footer";
@import "sass/partials/components/header";

// layout
@import "sass/partials/layout/main";


// n is number of stars required
@function multiple-box-shadow ($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    @for $i from 2 through $n {
      $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
    }
    @return unquote($value);
  }
   
  $shadows-small:  multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-large: multiple-box-shadow(100);
    
  #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation : animStar 50s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 0vh;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation : animStar 100s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 0vh;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-large;
    animation : animStar 150s linear infinite;
    filter: blur(30px);
    opacity: 0.1;
  }
      
  @keyframes animStar {
    from	{
      transform: translateY(0vh);
    } 
    to {
      transform: translateY(-100vh);
    }
  }
