@import "../../sass/partials/abstracts/mixins";

.crew-member__text--title {
    text-align: left;
    // line-height: 3rem;
}

.crew-member {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    &__image {
        overflow: hidden;
        padding: var(--padding);
        & img {
            border-radius: var(--border-radius);
            width: 100%;
            height: auto;
            animation: var(--animation-cards);
            @include respond(desktop){
                box-shadow: var(--box-shadow);
            }
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & p{
            margin-bottom: 1em;
        }
    }
}