@import "../../sass/partials/abstracts/mixins";

header {
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  padding-block: 1em;
  padding-inline: 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  @include respond(desktop){
    position: fixed;
    z-index: 2000;
    background-image: linear-gradient(#0d0057, #0d00578a, #0d005700);
    // backdrop-filter: blur(8px);
  }
}

.expand {
  height: 100vh;
  align-items: start;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5em;

  & > img {
    width: 2em;
  }

  & h3 {
    font-size: 2em;
  }
}