.crew-card {
  padding: var(--padding);
  background-color: var(--color-primary-light);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__image {
    // background-position: top;
    // background-repeat: no-repeat;
    // background-size: cover;
    overflow: hidden;
    & img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: top;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    color: var(--color-black);
    & p {
      color: var(--color-black);
    }
  }

  & .autograph{
    max-height: 150px;
    // margin-top: auto;
    align-self: flex-end;

  }
}