@import "../../sass/partials/abstracts/mixins";

.shopDetail{
    max-width: 500px;
    margin: 0 auto;
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-items: center;
      p {
        margin-left: 1em;
        margin: unset;
        font-weight: bold;
      }
      h2{
        text-align: right;
        margin-right: 1em;
      }
    }
    &__container {
      border: var(--border);
      padding: var(--padding);
      margin-bottom: var(--margin);
      &--profile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
      }
      &--text {
        display: block;
      }
    }
    &__img {
        width: 95%;
        position: relative;
        &--product {
          width: 100%;
          height: auto;
          filter: var(--filter-shadow);
        }
    }
    &__btn-container * {
      width: 100%;
      margin: var(--margin) 0;
    }
    @include respond(desktop){
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 600px;
      & a{
        grid-column: 1 / -1;
        margin-bottom: 10%;
      }
      .shopDetailIMG{ 
        width: 350px;
        margin: 0 auto;
    }
    }
    @include respond(desktop--large){
      max-width: 70%;

      .shopDetailIMG{
          width: 350px;
      }
    }
}