@import "../../sass/partials/abstracts/mixins";

.shopDetailBox{
    max-width: 500px;
    margin: 0 auto;
    &__info {
      background-color: red;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }
    &__discoverer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 2px solid green;
    }

    .shopDetailPrize{
        color: #00FF19;
        margin-top: 5px;
    }
    .shopDetailIMG{
        width: 100%;
        // overflow: hidden;
        position: relative;
        margin-top: 20px;
        // height: 100px;
        // background-color: #D8D8D8;
        margin-bottom: 5px;
        .shopDetailRock{
            margin-left: 10%;
            width: 250px;
            height: 220px;
        }
    }
    
    @include respond(desktop){
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 600px;

      & a{
        grid-column: 1 / -1;
        margin-bottom: 10%;
      }
      .shopDetailIMG{ 
        width: 350px;
        margin: 0 auto;
    }

    & button{
      margin: 0;
    }
    }

    @include respond(desktop--large){
      max-width: 70%;

      .shopDetailIMG{
          width: 350px;
      }
    }
}