@import "../../sass/partials/abstracts/mixins";

.shopDetail{
    max-width: 500px;
    margin: 0 auto;
    &__container {
      border: var(--border);
      padding: var(--padding);
      margin-bottom: var(--margin);
      h2 {
        margin-bottom: 0.3rem;
      }
      &--profile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap);
        justify-content: center;
        align-items: center;
      }
    }
    table {
      table-layout: fixed;
      width: 100%;
    }
    th, td {
      padding: 0.3rem;
    }
    th {
      text-align: right;
      display: flex;
      flex-direction: column;
      font-family: var(--font-secondary);
    }
    &__img {
        width: 95%;
        position: relative;
        &--product {
          width: 100%;
          height: auto;
          filter: var(--filter-shadow);
          animation: var(--animation);
        }
    }
    &__btn-container * {
      width: 100%;
      margin: var(--margin) 0;
    }
    @include respond(desktop){
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 600px;
      & a{
        grid-column: 1 / -1;
        margin-bottom: 10%;
      }
      .shopDetailIMG{ 
        width: 350px;
        margin: 0 auto;
    }
    }
    @include respond(desktop--large){
      max-width: 70%;

      .shopDetailIMG{
          width: 350px;
      }
    }
}

@keyframes floating {
  to{
    transform: var(--transform);
  }
}