@import "../../sass/partials/abstracts/mixins";

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  & img {
    //cursor: pointer;
    height: 2.5em;
  &.cartIcon{
    height: 2em;
  }
  } 

  & button {
    @include respond(desktop) {
      display: none;
    }
  }
}

.navbar--open {
  position: fixed;
  top: 4.5em;
  padding: 1em 0;
  left: 0;
  height: 100vh;
  //width: 100%;
  z-index: 1000;
  //background-color: var(--color-primary);
  //background-image: url("/assets/bg-colorus/bg-coloured.png");

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;

  }

  & > ul li {
    font-size: 3em;
    text-align: center;
    cursor: pointer;
    animation: .3s ease-out 0s 1 openNav;
  }

  & > ul li::after {
    content: "";
    display: block;
    background-color: #5A85AA;
    position: relative;
    top: .2em;
    height: 1px;
    width: 100vw;
  }

  & ul li a {
    display: block;
    width: 100%;
  }
}
 
nav.desktop__nav {
  width: 100%;
  display: none;
  @include respond(desktop) {
    display: block;
  }
}

nav.desktop__nav ul {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

nav.desktop__nav li {
  width: 100%;
  margin: 0 .5em;
  max-height: max-content;
}

nav.desktop__nav li a {
  display: block;
  text-align: center;
  min-width: 80px;
  line-height: 35px;
  max-height: max-content;
  width: 100%;
  transition: all .3s ease-out;
}

nav.desktop__nav li a::after {
  content: "";
  display: block;
  background-color: #5A85AA;
  position: relative;
  height: 3px;
  width: 0%;
  top: .2em;
  transition: all .2s ease-out;

}

nav.desktop__nav li a:hover::after {
  background-color: var(--color-secondary);
  width: 100%;
  border-radius: 10px;
}

nav.desktop__nav li a:hover {
  transform: translateY(-5px);
}

@keyframes floatNav {
  to {
    width: 100%;
  }
}

@keyframes openNav {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    transform: scale(1.07);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}