// google font import
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:wght@400;900&family=Orbitron:wght@500&family=Share+Tech+Mono&family=Space+Mono:ital,wght@1,700&display=swap");

h1,
h2,
h3,
h4 {
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

h1 {
  font-size: 48px;
  text-shadow: 0 0 2px #fff, 0 0 2px #518abc, 0 0 1px #86beee;
  animation: textGlow 4s ease-in-out infinite alternate;
}

body,
p {
  font-family: var(--font-primary);
  color: white;
}

@keyframes textGlow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #518abc, 0 0 1px #86beee;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 4px #86beee, 0 0 3px #fff;
  }
}