.inventory__header {
  display: block;
  // flex-direction: column;
  gap: 3em;
  margin-bottom: 3em;

  & * {
    text-align: center;
  }
 
  & p {
    margin-top: 1em;
  }
}

.inventory__timer {
  text-align: center;
  margin-inline: auto;
  max-width: 35em;
  //grid-area: timer;
}

.resource__container {
  display: flex;
  justify-content: center;
  gap: 3em;
  //grid-area: inv;
}


