@import "../../sass/partials/abstracts/mixins";

.WebshopText {
  text-align: center;
  max-width: 600px;
  margin: 2em auto;
}

.shopItemsHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;

  @include respond(desktop){
    justify-content: center;
    padding: 0 10px;
  }
}

.Webshoph1 {
  text-align: center;
  // margin-top: 1em;
  &+h2{
    margin-top: 0;
  }
}
  