@import "../../sass/partials/abstracts/mixins";

.landingpage {
  & .landingWrapper {
    //max-width: min(90%, 100em);
    //margin: auto;
    //maring-inline: auto;
    display: flex;
    flex-direction: column;
  }

  & p{ 
    @include respond(desktop){
      font-size: 20px;
      max-width: 600px;
    }
  }
}

.part1 {
  text-align: center;
  margin: auto;
  width: 100%;

  & * {
    margin: .5em auto;
  } 
  
  &--img { 
    width: 80%;
    margin: 1em auto;
    & img{
      width: 100%;
      filter: drop-shadow(5px 10px 20px black);
      animation: floating 3s alternate infinite ease-in-out;
    }
  } 

  &::after{
    display: block;
    content: "";
    background: url('../../assets/MaskGroup1.svg'), linear-gradient(0deg, #011b31, #012d5400 );
    height: 10em;
    background-size: cover; 
    width: 100%;
    margin-bottom: -10px;
    @include respond(desktop--large){
      height: 250px;
    }
  }  

  @include respond(desktop--large){ 
    // padding: 4em 0;
    min-height: 70vh;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      min-height: 50vh;
      margin: auto;
    }

    &--img {
      max-width: 400px;
      margin: 4em auto;
    }
  }
  @include respond(tablet){
    &--img{
      width: 50%;
    }

    & .btn {
      display: block;
      max-width: 300px;
      margin: auto;
    }
  }
}

// .mid {
//   background: url('../../assets/MaskGroup1.svg'), linear-gradient(0deg, #011b31, #012d5400 );
//   height: 10em;
//   background-size: cover;
//   width: 100%;
//   // left: calc(-50vw + 50%);

//   @include respond(desktop--large){
//     height: 250px;
//   }
// }

.part2 {
  position: relative;
  background-color: white;
  padding-bottom: 2em;

  // .landingWrapper{

  // }

  & p {
    margin-top: 1em;
    color: black;
  }

  & h1 {
    color: var(--color-primary);
    margin-bottom: 1em;
    position: relative;
    width: 50%;
    text-align: right;
    margin-left: auto;
    height: 200px;
    padding-top: 50px;
    @include respond (desktop){
      height: auto;
      padding-top: 0;
    }
  }

  &--img {
    min-height: 50px;
    & img{
      position: absolute;
      width: 300px;
      left: -100px;
      top: -130px;
      z-index: 2;
      animation: floating 3s ease-in-out alternate infinite;
    }
  }
  
  & .landingWrapper .btn--secondary {
    border: var(--border);
    border-color: var(--color-primary);
    color: var(--color-primary);
    margin: 2em 0;
  }
  & .landingWrapper .btn--primary {
    border: var(--border);
    border-color: var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-white);
    margin: 2em 0;
  }

  @include respond(tablet){
    & .landingWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "ast h1"
      "ast txt"
      "ast btn";
    }
    
    &--img {
      position: relative;
      // min-height: 100px;
      width: 100%;
      grid-area: ast;
      & img {
        left: 0;
        top: -50px;
        width: 100%;
        max-width: 100%;
      }
    }
    
    & h1 {
      width: 100%;
      grid-area: h1;
      text-align: left;
    }
    
    & p {
      grid-area: txt;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
    }
    
    & .btn--secondary {
      grid-area: btn;
      max-width: 300px;
    }
    & .btn--primary {
      grid-area: btn;
      max-width: 300px;
    }
    
  }

  @include respond(desktop--large){
    padding: 3em 0;
    height: 500px;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    &--img img {
      max-width: 90%;
      top: -100px;
      left: -40px;
    }
  }
}

@keyframes floating {
  to{
    transform: translateY(10px);
  }
}
.part3 {
  background-color: var(--color-secondary);
  position: relative;
  padding-bottom: 2em;
  overflow-y: visible;
  overflow-x: clip;

  &--img {
    min-height: 10px;
    width: 50%;
    & img, .svg {
      position: absolute;
      height: max-content;
      top: -3em;
      right: -7em;
      // left: 10em;
      z-index: 100;
      width: 70%;
      max-width: 300px;
      & .seconds{
        transform-origin: 269.5px 261.5px;
        animation: spin 30s infinite steps(60);
    }
      & .minutes{
        transform-origin: 269.5px 261.5px;
        animation: spin 1800s infinite linear;
    }
      & .hours{
        transform-origin: 269.5px 261.5px;
        animation: spin 3600s infinite linear;
    }
  }
  }


  //& .clock {
  //  position: absolute;
  //  max-width: 100%;
  //  top: -70px;
  //  right: -140px;
  //}

  & h1 {
    position: relative;
    margin: 1em 0;
    width: 50%;
    text-align: left;
    margin-right: auto;
  }

  & .landingWrapper .btn--secondary {
    border: var(--border) var(--color-white);
    color: var(--color-white);
    margin: 2em 0;
  }
  & .landingWrapper .btn--primary {
    border: var(--border);
    border-color: var(--color-white);
    color: var(--color-white);
    background-color: var(--color-secondary);
    margin: 2em 0;
  }

  @include respond(tablet){
    & .landingWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "h1 clock"
                                "txt clock"
                                "btn clock"
    }

    & h1 {
      width: 100%;
      grid-area: h1;
      text-align: left;
    }

    & p {
      grid-area: txt;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
    }

    & .btn--secondary {
      grid-area: btn;
      max-width: 300px;
    }
    & .btn--primary {
      grid-area: btn;
      max-width: 300px;
    }

    &--img {
      grid-area: clock;
      width: 100%;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & img, .svg {
        position: static;
        display: block;
        width: 70%;
        margin: auto;
      }
    }

  }

  @include respond(desktop--large){
    padding: 6em 0;
    height: 500px;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    &--img img, --img .svg {
      position: static;
      display: block;
      margin: auto;
    }
  }
}

@keyframes spin{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

