.landingpage {

  & .landingWrapper {
    //max-width: min(90%, 100em);
    //margin: auto;
    //maring-inline: auto;
    display: flex;
    flex-direction: column;
  }
}

.part1 {
  text-align: center;

  & * {
    margin: .5em 0;
  }

  & img.rockImg {
    width: 80%;
    margin: 1em auto;
  }
}

.mid {
  background: url('../../assets/MaskGroup1.svg'), linear-gradient(0deg, #011b31, #012d5400 );
  height: 10em;
  background-size: cover;
  width: 100%;
  // left: calc(-50vw + 50%);
}

.part2 {
  position: relative;
  background-color: white;
  padding-bottom: 2em;

  & p {
    margin-top: 1em;
    color: black;
  }

  & h1 {
    color: var(--color-primary);
    margin-bottom: 1em;
    position: relative;
    width: 50%;
    text-align: right;
    margin-left: auto;
  }

  & .ast_con {
    min-height: 50px;
  }

  & .astronaut {
    position: absolute;
    max-width: 100%;
    left: -140px;
    top: -130px;
    z-index: 2;
    animation: floating 3s ease-in-out alternate infinite;
  }

  @keyframes floating {
    to{
      transform: translateY(10px);
    }
  }

  & .landingWrapper .btn--secondary {
    border: var(--border) var(--color-primary);
    color: var(--color-primary);
    margin: 2em 0;
  }
}

.part3 {
  background-color: var(--color-secondary);
  position: relative;
  padding-bottom: 2em;
  overflow-y: visible;
  overflow-x: clip;

  & .clock_con {
    min-height: 10px;
    width: 50%;
  }

  & .clock {
    position: absolute;
    top: -7.5em;
    right: -7em;
    // left: 10em;
    z-index: 100;
    width: 70%;
    max-width: 300px;
  }

  //& .clock {
  //  position: absolute;
  //  max-width: 100%;
  //  top: -70px;
  //  right: -140px;
  //}

  & h1 {
    position: relative;
    margin: 1em 0;
    width: 50%;
    text-align: left;
    margin-right: auto;
  }

  & .landingWrapper .btn--secondary {
    border: var(--border) var(--color-white);
    color: var(--color-white);
    margin: 2em 0;
  }
}

@media all and (min-width: 550px) {
  .part1 {
    & img.rockImg {
      width: 50%;
    }

    & .btn {
      display: block;
      max-width: 300px;
      margin: auto;
    }
  }
  .part2 {
    & .ast_con {
      min-height: 100px;
    }

    & .astronaut {
      top: -100px;
    }
  }

  .part3 {
    & .clock_con {
      min-height: 50px;
    }

    & .clock {
      right: -50px;
    }
  }
}

@media all and (min-width: 800px) {
  .landingWrapper p {
    font-size: 20px;
    max-width: 600px;
  }

  .part1 {
    & p {
      margin: auto;
    }
  }
  .part2 {
    & .landingWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "ast h1"
                            "ast txt"
                            "ast btn";
    }

    & .ast_con {
      position: relative;
      // min-height: 100px;
      width: 100%;
      grid-area: ast;
    }

    & h1 {
      width: 100%;
      grid-area: h1;
      text-align: left;
    }

    & p {
      grid-area: txt;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
    }

    & .btn--secondary {
      grid-area: btn;
      max-width: 300px;
    }

    & .astronaut {
      left: 0;
      top: -50px;
    }
  }

  .part3 {
    & .landingWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "h1 clock"
                                "txt clock"
                                "btn clock"
    }

    & h1 {
      width: 100%;
      grid-area: h1;
      text-align: left;
    }

    & p {
      grid-area: txt;
      width: 100%;
      max-width: 600px;
      margin-left: auto;
    }

    & .btn--secondary {
      grid-area: btn;
      max-width: 300px;
    }

    & .clock_con {
      grid-area: clock;
      width: 100%;
      margin-bottom: 0;
    }

    & .clock {
      position: static;
      display: block;
      width: 70%;
      margin: auto;
    }
  }
}

@media all and (min-width: 1000px) {
  .part1 {
    padding: 4em 0;
    min-height: 70vh;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      min-height: 50vh;
      margin: auto;
    }

    & img.rockImg {
      max-width: 400px;
      margin: 4em auto;
    }
  }
  .mid {
    height: 250px;
  }
  .part2 {
    padding: 3em 0;
    height: 500px;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    & .astronaut {
      top: -40px;
      left: 40px;
    }
  }
  .part3 {
    padding: 6em 0;
    height: 500px;

    & .landingWrapper {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    & .clock {
      position: static;
      display: block;
      margin: auto;
    }
  }
}
