@import "../../sass/partials/abstracts/mixins";

.shopItemHolder{
    width: 140px;
    margin-top: 15px;
    // border: solid 2px var(--color-secondary);
    height: 17em;
    border-radius: 10px;


    @include respond(desktop){
        width: 200px;
    }
    @include respond(desktop--large){
        width: 250px;
    }

.shopItemIMG{
    width: 100%;
    height: 7em;
    padding-top: 5px;
    margin: auto;
    margin-top: auto;
    text-align: center;

    @include respond(desktop){
        height: 150px;
    }


    .shopItemRock{
        display: block;
        margin: 0 auto;
        margin-top: 5%;
        max-width: 80%;
        height: auto;
        max-height: 150px;
        filter: drop-shadow(10px 10px 10px var(--color-black));
        transition: all .2s linear;
        &:hover {
            filter: drop-shadow(20px 20px 10px var(--color-black));
            transform: translateY(-10px);
        }
    } 
}

.shopItemName{
    margin-top: 15px;
    margin-left: 5%;
    height: 3em;

    @include respond(desktop){
        height: 1em;
        margin-top: 2em;
    }

}
.shopItemPrize{
    color: #00FF19;
    margin-top: 5px;
    margin-left: 5%;

    @include respond(desktop){
        height: 1em;
    }
}
.ShopItemsbutton{
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}
}

// @media all and (min-width: 800px){
//     .shopItemHolder{
//         width: 200px;
//         .shopItemIMG{
//             height:150px;
//         }
//     }
// }

// @media all and (min-width: 1100px){
//     .shopItemHolder{
//         width: 250px;
        
//         .shopItemIMG{
//             height: 200px;
//         }
//     }
//   }